<app-dashboard/>

<div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-20">
       <div class="grid grid-cols-3 gap-6 mb-4 ">
          <div class="flex items-center flex-col justify-center h-24 rounded bg-red-400 dark:bg-red-400">
             <p class="text-2xl text-black dark:text-black font-bold font-mono">
                Total Students
             </p>
             <p class="text-2xl text-black dark:text-black font-bold">
                {{studentLength}}
             </p>
          </div>
          <div class="flex items-center flex-col justify-center h-24 rounded bg-blue-400 dark:bg-blue-400">
            <p class="text-2xl text-black dark:text-black font-bold font-mono">
                Total Intructors
             </p>
             <p class="text-2xl text-black dark:text-black font-bold">
                {{studentLength}}
             </p>
          </div>
          <div class="flex items-center flex-col justify-center h-24 rounded bg-green-400 dark:bg-green-400">
            <p class="text-2xl text-black dark:text-black font-bold font-mono">
                Total Courses
             </p>
             <p class="text-2xl text-black dark:text-black font-bold">
                {{courseLength}}
             </p>
          </div>
       </div>
       
       <app-barchart/>
    </div>
 </div>